<div class="card">
  <div class="calculator">
    <div class="input-container">
      <input type="text" class="input-calculadora" [(ngModel)]="resultValueInput">
    </div>
    <div class="btn-row">
      <button type="button" class="btn-calc" (click)="operationCalculator('1')">1</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('2')">2</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('3')">3</button>
      <button type="button" class="btn-calc" (click)="operationCalculator(op.SumOperation)">+</button>
    </div>
    <div class="btn-row">
      <button type="button" class="btn-calc" (click)="operationCalculator('4')">4</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('5')">5</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('6')">6</button>
      <button type="button" class="btn-calc" (click)="operationCalculator(op.SubtractOperation)">-</button>
    </div>
    <div class="btn-row">
      <button type="button" class="btn-calc" (click)="operationCalculator('7')">7</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('8')">8</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('9')">9</button>
      <button type="button" class="btn-calc" (click)="operationCalculator(op.MultiplyOperation)">x</button>
    </div>
    <div class="btn-row">
      <button type="button" class="btn-calc" (dblclick)="resetValues()" (click)="operationCalculator('0')">0</button>
      <button type="button" class="btn-calc" (click)="operationCalculator('.')">.</button>
      <button type="submit" class="btn-calc" (click)="calculate()">=</button>
      <button type="button" class="btn-calc" (click)="operationCalculator(op.DivisionOperation)">÷</button>
    </div>
  </div>
</div>
